* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	background: black;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn {
	padding: 15px 25px;
	background: #60abf8;
	background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%);
	border: 1px solid transparent;
	border-radius: 15px;
	font-size: 1.3rem;
	color: white;
	text-shadow: black 0 0 5px;
	box-shadow: black 0 0 5px;
	cursor: pointer;
	margin: 0 10px;

	&:hover {
		background: #7ef860;
		background: linear-gradient(to bottom,#7dff7a 0,#7ef860 44%,#4aee40 100%);
	}

	&.disabled, &.disabled:hover {
		background: gray;
		background: linear-gradient(to bottom,#adaeb0 0,#a4a4a4 44%,#808080 100%);
		color: lightgray;
		text-shadow: none;
		cursor: not-allowed;
	}
}

#background {
	transition: opacity 2000ms;
	background: no-repeat center;
	background-size: cover;
	filter: blur(8px);
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


@keyframes floating {
	0% {
		transform: translateY(-20%);
	}

	100% {
		transform: translateY(-10%);
	}
}

@keyframes zeppy {
	0% {
		transform: translateY(-5px);
	}

	100% {
		transform: translateY(5px);
	}
}

#container {
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;

	#intro {
		position: relative;
		margin: 0 auto;
		width: 1020px;
		height: 650px;
		align-self: center;

		#front-logo {
			transform: rotate(-7deg);
			position: absolute;
			background-repeat: no-repeat;
			background-size: contain;
			width: 423px;
			height: 281px;
			left: 56px;
			opacity: 0;
			transition: opacity 500ms;
		}

		#front-text {
			position: absolute;
			top: 278px;
			left: 28px;
			width: 384px;
			color: white;
			text-shadow: black 0 0 20px;
			font-size: 2em;

			#btn-play {
				margin-top: 5px;
			}

			p {
				margin-bottom: 20px;

				&.sub {
					font-size: 0.8em;
				}
			}
		}

		#front-zones {
			position: absolute;
			top: 203px;
			left: 443px;

			.front-zone {
				position: absolute;
				border: 5px solid white;
				box-shadow: black 0 0 20px;
				background: white no-repeat;
				background-size: contain;
				transition: opacity 400ms;
				width: 362px;
				height: 200px;
				opacity: 0;
			}

			#front-ruffles {
				display: none;
				width: 223px;
				height: 223px;
				background-size: contain;
				transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
				position: absolute;
				top: 16px;
				left: 269px;
				opacity: 0;
				z-index: -1;

				&.arf {
					top: -139px;
				}
			}

			#front-zone-a {
				top: 116px;
				left: 173px;
				transform: rotate(-4deg);
			}

			#front-zone-b {
				top: 48px;
				transform: rotate(-1deg);
			}

			#front-zone-c {
				left: 124px;
				transform: rotate(4deg);
			}
		}
	}

	#front-info {
		position: absolute;
		color: white;
		bottom: 20px;
		width: 100%;
		z-index: 5;

		a {
			text-decoration: none;
			color: white;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	#game-frame {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.game-banner {
			position: absolute;
			left: 0;
			right: 0;
			height: 80px;
			background: rgba(0, 0, 0, 0.8);
			transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
		}

		#game-top {
			top: -140px;

			&.extended {
				top: 0;
			}

			#game-score {
				display: flex;
				color: white;
				justify-content: center;
				align-items: center;
				height: 100%;

				.game-score-component {
					margin: 0 50px;
					font-size: 1.6em;
				}
			}
		}

		#game-bottom {
			bottom: -140px;

			&.extended {
				bottom: 0;
			}
		}

		#game-content {
			left: 0;
			right: 0;
			top: 80px;
			bottom: 80px;
			display: flex;
			position: absolute;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			box-shadow: inset transparent 0 0 80px;

			#game-map, #game-image {
				width: 80%;
				height: 70%;
				border: 1px solid white;
				box-shadow: black 0 0 20px;
				cursor: grab;

				.game-buttons {
					position: absolute;
					bottom: 20px;
					left: 10px;
					z-index: 999;
				}
			}

			#game-map {
				z-index: 1;
				opacity: 0;
				transition: opacity 400ms;
				position: absolute;
				background: rgb(0, 29, 40);

				#game-button-next {
					display: none;
				}

				#game-map-info {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 15px;
					text-align: center;
					font-size: 2rem;
					color: white;
					text-shadow: black 0 0 20px;
					z-index: 500;
				}
			}

			#game-over-spirit {
				opacity: 0;
				display: none;
				position: absolute;
				background-repeat: no-repeat;
				width: 808px;
				height: 366px;
				transition: opacity 1000ms;
				animation-name: floating;
				animation-timing-function: ease-in-out;
				animation-iteration-count: infinite;
				animation-duration: 3s;
				animation-direction: alternate;
			}

			#game-over {
				color: white;
				z-index: 10;
				opacity: 0;
				display: none;
				position: absolute;
				background: rgba(0, 0, 0, 0.8);
				border: 1px solid white;
				box-shadow: black 0 0 20px;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 35px 60px;

				h1 {
					font-size: 3rem;
				}

				h2 {
					font-size: 1.3rem;
					margin-bottom: 20px;
				}

				#game-over-buttons {
					margin-top: 25px;
				}
			}

			#game-image {
				background: rgba(0, 0, 0, 0.6);
				transition: opacity 400ms;
				white-space: nowrap;
				overflow: hidden;
				position: absolute;
				cursor: grab;
				z-index: 2;

				#game-drag-inner {
					width: 100%;
					height: 100%;
					background-repeat: repeat-x;
					background-size: auto 100%;
					opacity: 0;
					transition: opacity 400ms;
				}

				#game-loading {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					#game-loading-text {
						font-size: 1.8rem;
						color: white;
					}

					#game-loading-zeppy {
						z-index: -1;
						background: url(../images/zeppy.png) no-repeat;
						width: 149px;
						height: 140px;
						margin-bottom: 30px;
						animation-name: zeppy;
						animation-timing-function: linear;
						animation-iteration-count: infinite;
						animation-duration: 0.6s;
						animation-direction: alternate;
					}
				}

				#game-drag-notice {
					position: absolute;
					top: 15px;
					left: 50%;
					border-radius: 10px;
					background: rgba(0, 0, 0, 0.6);
					padding: 15px;
					color: white;
					transform: translateX(-50%);
					z-index: 3;
				}
			}
		}
	}
}